.account__info
  = render 'products/form-header'
  .account__info__main
    .account__info__main__content
      .field__title 会員情報
      .field__form
        .subject ニックネーム
        .required 必須
      .field__input
      .field__form
        .subject email
        .required 必須
      .field__input
      .field__form
        .subject パスワード
        .required 必須
      .field__input
      .field__guide ＊ 半角英数字７文字以上で設定して下さい
      .field__form
        .subject 再度パスワード
        .required 必須
      .field__input
      .field__display
        .check__box
        .field__guide パスワードを表示する
      %br/
      .field__subtitle 本人確認
      .field__guide 安心・安全にご利用いただくために、お客様の本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
      .field__form
        .subject お名前(全角)
        .required 必須
      .naming
        .short
        .short
      .field__form
        .subject お名前(カナ)
        .required 必須
      .naming
        .short
        .short
      .field__form
        .subject 生年月日
        .required 必須
      .naming
        .short
        .short
        .short
      .field__form
        .subject 郵便番号
        .required 必須
      .field__input
      .field__form
        .subject 都道府県
        .required 必須
      .field__input
      .field__form
        .subject 市区町村
        .required 必須
      .field__input
      .field__form
        .subject 番地
        .required 必須
      .field__input
      .field__form
        .subject ビル・マンション名と部屋番号
        .required 必須
      .field__input
      .field__form
        .subject 電話番号
        .required 必須
      .field__input
      %br/
      .field__guide ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
      %br/
      %br/
      .field__guide ※ 「新規登録」のボタンを押すことにより、 利用規約 に同意したものとみなします。
      .action 新規登録
    = render 'layouts/form-footer'
