- if resource.errors.any?
  .error_content
    .error_explanation
      %h2
        = "#{resource.errors.full_messages.count}件のエラーが発生しました"
      %ul
        - resource.errors.full_messages.each do |message|
          %li= message
