%header
  =render 'layouts/header'

.product-list
  .product-list-contents
    = render partial: 'layouts/products-list', locals: {products: @products}

%footer
  .app-banner 
    =render 'users/app-banner'
  =render 'layouts/footer'