.account__info
  = render 'layouts/form-header'
  .account__info__main
    .account__info__main__content
      .field__title ログイン
      .field__form
        .subject email
        .required 必須
      .field__input
      .field__form
        .subject パスワード
        .required 必須
      .field__input
      .action ログイン
  = render 'layouts/form-footer'