.header {
  widows: 100%; 
  height: 110px;
  background-color: #F4FEFF;
  &__contents {
    max-width: 728px;
    margin: 0 auto;
    padding: 0 20px;
    &__main {
      height: 40px;
      padding-top: 20px;
      display: flex;
      &__headerLogo {
        width: 140px;
        margin-right: 30px;
      }
      &__searchBox {
        width: 100%;
        &__form {

          &__textBox {
            width: calc(100% - 51px);
            height: 35px;
            vertical-align : top;
            padding-left: 10px;
          }
          &__submitBtn {
            width: 28px;
            height: 28px;
            padding: 5px 5px 6px 5px;
            margin-left: -7px;
            background-color: #3CCACE;
            vertical-align : top;
          }
        }
      }  
    }
    &__nav {
      height: 50px;
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      padding-top: 15px;
      &__listsLeft {
        display: flex;
        &__item {
          #category-btn {
            color: #363636;
            text-decoration: none;
             margin-right: 30px;
          }
          #category-menu {
            width: 200px;
            display: none;
            position: absolute;
            z-index: 10;
            // box-shadow:10px 10px 10px rgba(0,0,0,0.4);
            box-shadow: 0 5px 15px 0 rgba(64, 64, 64, 0.5);
            .category-list {
            // display: none;
            height: 100%;
            // border: 1px solid #34AEB3;
            background-color: #fff;
              &_parent {

              }
              .parent-btn {
                min-width: 200px;
                height: 50px;
                color: #746e6e;
                appearance: none;
                border: none;
                // outline: none;
                background: transparent;
                padding-left: 20px;
                text-align: left;
              }
              & :hover {
                background: #3CCACE;
                color: #fff;
              }
            }
          }
        }
      }
      &__listsRight {
        display: flex;
        a {
          color: #363636;
          text-decoration: none;
          margin-left: 30px;
        }
      }
    }
  } 
}
