.product-container{
  background: lightgray;
}

.product-infos{
  background: white;
  width: 620px;
  margin: 40px auto;
  padding: 24px 40px 40px;
  &__name{
    background: white;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
  &__main-content{
    margin: 16px 0 0;
    display: flex;
    justify-content: space-between;
    &__image{
      background: lightgray;
      width: 300px;
      height: 350px;
      margin-right: 20px;
      .sample-image{
        display: block;
        margin: 0 auto;
      }
    }
    &__details-table{
      width: 300px;
      height: 420px;
      .table-holder{
        padding-left: 5px;
        background: lightgray;
      }
      .table-data{
        padding-left: 5px;
      }
    }
  }
  &__price{
    margin-top: 24px;
    text-align: center;
    &__box{
      font-size: 45px;
      font-weight: bold;
    }
    &__tax{
      font-size: 10px;
    }
    &__shipping-cost{
      font-size: 16px;
    }
  }
  .product-buy-btn{
    display: block;
    text-align: center;
    background: red;
    text-decoration: none;
    color: white;
    font-size: 24px;
    line-height: 60px;
    margin-top: 20px;
  }
  &__description{
    padding: 32px 0 0;
    font-size: 18px;
    &__inner{
      white-space: pre-wrap;
    }
  }
}

.product-details-comments{
  background: blue;
}

.product-social-media{
  background: yellow;
}