.main-container {
  height: 100%;
  background-color: #f5f5f5;
  padding: 40px 0px;
  display: flex;
  justify-content: center;

  &__side-menu {
    width: 280px;
    height: 100%;
    .mypage-nav {
      margin: 0px 40px 0px 0px;
      & li :hover {
        opacity: 0.5;
      }
      &__list-item {
        font-size: 14px;
        padding: 16px;
        line-height: 16px;
        background:#fff;
        position: relative;
        display: block;
        text-decoration: none;
        border-top: 1px solid #eee;
        .fas {
          position: absolute;
          top: 16px;
          right: 16px;
        }
      }
    }
    h3 {
      margin: 40px 0px 0px 0px;
    }
  }

  &__main-contents{
    height: 100%;
    width: 700px;
    .mypage-user-icon {
      background-color: #3ccace;
      height: 200px;
    }

    .mypage-tab-container-notification-todo {
      background-color: #fff;
      height: 570px;
      .mypage-tab {
        line-height: 72px;
        display: flex;
        & li :hover {
          opacity: 0.5;
        }
        &__menu-item {
          width: 350px;
          font-size: 16px;
          color: #333;
          text-align: center;
          display: block;
          text-decoration: none;
        }
      }
    }

    .mypage-tab-container {
      margin: 40px 0px 0px 0px;
      background-color: #fff;
      height: 380px;
      h2.maypage-tab-head {
        padding: 0px 16px;
        background-color: #fafafa;
        font-size: 16px;
        line-height: 72px;
      }
      .mypage-tab {
        line-height: 72px;
        display: flex;
        & li :hover {
          opacity: 0.5;
        }
        &__menu-item {
          width: 350px;
          font-size: 16px;
          color: #333;
          text-align: center;
          display: block;
          text-decoration: none;
        }
      }
    }
  }
}

