.product-infos
  .product-infos__name
    %h1 鬼滅の刃
  .product-infos__main-content
    .product-infos__main-content__image
    .product-infos__main-content__details-table
.product-details-comments
  .product-details-comments__warning-message
    %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
.product-social-media
  .product-social-media__box
    %p Facebookアイコン挿入予定