@mixin menu-item($background-color: #fff) {
  width: 350px;
  font-size: 16px;
  color: #333;
  text-align: center;
  display: block;
  text-decoration: none;
  background-color: $background-color;
}

.main-container {
  height: 100%;
  background-color: #f5f5f5;
  padding: 40px 0px;
  display: flex;
  justify-content: center;
  &__main-contents{
    height: 100%;
    width: 700px;
    .mypage-user-icon {
      background-color: #3ccace;
      height: 180px;
      text-align: center;
      padding-top: 20px;
      & a :hover {
        opacity: 0.5;
      }
      .mypage-user-link {
        text-decoration: none;
        color: #333;
        .mypage-number {
          display: flex;
          justify-content: center;
          margin: 0px auto;
          .number.list {
            margin-left: 16px;
          }
          .number {
            margin: 8px 0px 0px 0px;
            font-size: 14px;
          }
        }
      }
    }

    .mypage-tab-container-notification-todo {
      background-color: #fff;
      .mypage-tab {
        line-height: 72px;
        display: flex;
        & li :hover {
          opacity: 0.5;
        }
        &__menu-item.active {
          @include menu-item();
          border-top: 2px solid #ea352d;
        }
        &__menu-item {
          @include menu-item(#EEEEEE);
        }
      }
      .mypage-content {
        width: 700px;
        &__detail.show {
          display: block;
          .message {
            display: flex;
            justify-content: space-between;
            padding: 16px;
            border-bottom: 2px solid #f5f5f5;
            .fas {
              line-height: 42px;
            }
            .message-content {
              text-decoration: none;
              .message-list {
                height: 56px;
                margin: 0 auto;
                background: #eee;
                color: #333;
                line-height: 56px;
                text-align: center;
                width: 670px;
              }
            }
          }
        }
        &__detail {
          display: none;
        }
      }
    }

    .mypage-tab-container {
      margin: 40px 0px 0px 0px;
      background-color: #fff;
      height: 380px;
      border-bottom: 2px solid #f5f5f5;
      h2.maypage-tab-head {
        padding: 0px 16px;
        background-color: #fafafa;
        font-size: 16px;
        line-height: 72px;
      }
      .mypage-tab {
        line-height: 72px;
        display: flex;
        & li :hover {
          opacity: 0.5;
        }
        &__menu-buy-item.active {
          @include menu-item();
          border-top: 2px solid #ea352d;
        }
        &__menu-buy-item {
          @include menu-item(#EEEEEE);
        }
      }
      .mypage-content {
        width: 700px;
        &__item.show {
          display: block;
          .message {
            padding: 16px;
          }
        }
        &__item {
          display: none;
        }
      }
    }
  }
}

