<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>フリマアプリ</title>
  </head>
  <body>
    <div class="account__page">
      <div class="account__page__header">FURIMA</div>
      <div class="account__page__main">
        <div class="account__page__main__content">
          <div class="field__title">会員情報</div>
          <div class="field__label">
            <div class="name">ニックネーム</div>
            <div class="required">必須</div>
          </div>
          <div class="field__input"></div>
          <div class="field__label">
            <div class="name">email</div>
            <div class="required">必須</div>
          </div>
          <div class="field__input"></div>
          <div class="field__label">
            <div class="name">パスワード</div>
            <div class="required">必須</div>
          </div>
          <div class="field__input"></div>
          <div class="field__guide">＊ 半角英数字７文字以上で設定して下さい</div>
          <div class="field__label">
            <div class="name">再度パスワード</div>
            <div class="required">必須</div>
          </div>
          <div class="field__input"></div>
          <div class="field__subtitle">本人確認</div>
          <div class="field__guide">安心・安全にご利用いただくために、お客様の本人情報の登録にご協力ください。他のお客さまに公開されることはありません。</div>
          <div class="field__label">
            <div class="name">お名前(全角)</div>
            <div class="required">必須</div>
          </div>
          <div class="naming">
            <div class="short"></div>
            <div class="short"></div>
          </div>
          <div class="field__label">
            <div class="name">お名前(カナ)</div>
            <div class="required">必須</div>
          </div>
          <div class="naming">
            <div class="short"></div>
            <div class="short"></div>
          </div>
          <div class="field__label">
            <div class="name">生年月日</div>
            <div class="required">必須</div>
          </div>
          <div class="naming">
            <div class="short"></div>
            <div class="short"></div>
            <div class="short"></div>
          </div>
          <div class="field__guide">※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。</div>
          <div class="action">次へ進む</div>
        </div>
      </div>
    </div>

  </body>
</html>